@{
    ViewBag.Title = "Web Restaurantes ";
}
<div class="jumbotron text-center ">
    <img src="~/Content/Image/Restaurants.jpg" class="img-responsive tocenter" style="margin:0 auto; display:inline" width="70%" />
    <h3>Sistema de Cadastro de Restaurantes</h3>
</div>

